.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    display: flex;
    transition-timing-function: ease-in;
    transition:all 0.5s;
}
.nav__logo{
    width:60px;
    position: fixed;
    left: 20px;
    object-fit: contain;
    cursor: pointer;
}

.nav__avatar{
    width: 50px;
    position: fixed;
    right: 20px;
    object-fit: contain;
    cursor: pointer;
}
.nav__black{
    background-color: #111;
}
